<mat-spinner class="absolute-center" *ngIf="ucitavanje"></mat-spinner>
<div class="omotac-forme" *ngIf="!ucitavanje">
  <form (ngSubmit)="upsertJelo()" [formGroup]="forma">
    <h1>{{ idJela !== null ? 'Azuriraj' : 'Kreiraj' }} Jelo</h1>
    <mat-form-field class="full-width" appearance="fill">
      <mat-label>Naziv</mat-label>
      <input matInput type="text" formControlName="naziv">
      <mat-error *ngIf="naziv.invalid">Obavezno polje, maksimalno 50 karaktera</mat-error>
    </mat-form-field>
    <mat-form-field class="full-width" appearance="fill">
      <mat-label>Sastojci</mat-label>
      <input matInput type="text" formControlName="sastojci">
      <mat-error *ngIf="sastojci.invalid">Obavezno polje, maksimalno 100 karaktera</mat-error>
    </mat-form-field>
    <mat-form-field class="full-width" appearance="fill">
      <mat-label>Porcija</mat-label>
      <input matInput type="text" formControlName="porcija">
      <mat-error *ngIf="porcija.invalid">Maksimalno 100 karaktera</mat-error>
    </mat-form-field>
    <mat-form-field class="full-width" appearance="fill">
      <mat-label>Cena</mat-label>
      <input matInput type="number" formControlName="cena">
      <mat-error *ngIf="cena.invalid">Obavezno polje, ne sme biti manje ili jednako sa nulom</mat-error>
    </mat-form-field>
    <mat-form-field class="full-width" appearance="fill">
      <mat-label>Kategorije</mat-label>
      <select matNativeControl required formControlName="kategorijaId">
        <option value="{{ kategorija.id }}" *ngFor="let kategorija of kategorije">{{ kategorija.naziv }}</option>
      </select>
      <mat-error *ngIf="kategorijaId.invalid">Obavezno polje</mat-error>
    </mat-form-field>
    <div class="desno-poravnanje">
      <button mat-flat-button type="submit" color="primary" [disabled]="!forma.valid">Potvrdi</button>
    </div>
  </form>
</div>