<app-omotac-forme>
  <form (ngSubmit)="registrujKorisnika()" [formGroup]="formaZaRegistraciju">
    <h1>Registracija</h1>
    <mat-form-field class="full-width" appearance="fill">
      <mat-label>Ime</mat-label>
      <input matInput type="text" placeholder="puno ime i prezime" formControlName="ime">
      <mat-error *ngIf="ime.invalid">Mora imati izmedju 5-50 karaktera</mat-error>
    </mat-form-field>
    <mat-form-field class="full-width" appearance="fill">
      <mat-label>Email</mat-label>
      <input matInput type="email" placeholder="email adresa" formControlName="email">
      <mat-error *ngIf="email.invalid">Mora biti validan mejl</mat-error>
    </mat-form-field>
    <mat-form-field class="full-width" appearance="fill">
      <mat-label>Sifra</mat-label>
      <input matInput type="password" placeholder="sifra" formControlName="sifra">
      <mat-error *ngIf="email.invalid">Mora imati izmedju 8-50 karaktera</mat-error>
    </mat-form-field>
    <div class="desno-poravnanje">
      <button mat-flat-button type="submit" color="primary" [disabled]="!formaZaRegistraciju.valid">Registruj se</button>
    </div>
  </form>
</app-omotac-forme>