<h1 mat-dialog-title>Napomena</h1>
<mat-spinner *ngIf="ucitavanje"></mat-spinner>
<div mat-dialog-content *ngIf="!ucitavanje && !error">
  <p>Imate li neku napomenu za ovu narudzbinu?</p>
  <form [formGroup]="formaZaPorucivanje">
    <mat-form-field appearance="fill" style="width: 100%;">
      <mat-label>Sto</mat-label>
      <select select matNativeControl required formControlName="stoId">
        <option [value]="sto.oznaka" *ngFor="let sto of stolovi">{{ sto.oznaka }}</option>
      </select>
      <mat-error *ngIf="stoId.invalid">Obavezno polje</mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill" style="width: 100%;">
      <mat-label>Napomena</mat-label>
      <textarea matInput style="width: 100%;" formControlName="napomena"></textarea>
    </mat-form-field>
  </form>
</div>
<p *ngIf="error">
  {{ error?.message || 'nesto je poslo po zlu' }}
</p>
<div mat-dialog-actions class="flex-desno-poravnanje" *ngIf="!ucitavanje">
  <button mat-flat-button [mat-dialog-close]="formaZaPorucivanje.value" color="primary" *ngIf="!error" [disabled]="formaZaPorucivanje.invalid">Potvrdi</button>
  <button mat-button [mat-dialog-close]="undefined" color="primary">Odustani</button>
</div>

