<mat-toolbar color="primary" class="hide-for-print">
  <mat-toolbar-row class="container">
    <a routerLink="/">Restoran</a>
    <span class="spacer"></span>
    <div class="link-group">
      <app-navbar-gost *ngIf="daLiKorisnikImaUlogu('GOST')"></app-navbar-gost>
      <app-navbar-korisnik *ngIf="daLiKorisnikImaUlogu('KORISNIK')" [korisnik]="korisnik" (odjava)="odjaviKorisnika()"></app-navbar-korisnik>
      <app-navbar-admin *ngIf="daLiKorisnikImaUlogu('ADMIN')" [korisnik]="korisnik" (odjava)="odjaviKorisnika()"></app-navbar-admin>
    </div>
  </mat-toolbar-row>
</mat-toolbar>