.spacer {
  flex: 1 1 auto;
}

.link {
  font-size: 1rem;
  font-weight: 400;
  cursor: pointer;

  &:not(:last-child) {
    margin-right: 1rem;
  }
}

.active-route {
  color: rgb(0, 255, 195);
}

.active-route-white {
  background-color: rgba(0, 255, 195, .15);
}