<mat-spinner *ngIf="ucitavanje" class="absolute-center"></mat-spinner>
<main class="container mt-sm" *ngIf="!ucitavanje">
  <h1>Meni</h1>
  <p *ngIf="daLiJeGost()">* Morate se ulogovati da biste porucili!</p>
  <div style="display: flex; justify-content: space-between; align-items: center;">
    <input class="custom-input hide-for-print" type="text" placeholder="Filtriraj po nazivu" (input)="filtriraj($event)">
    <button mat-flat-button class="hide-for-print" color="primary" *ngIf="daLiJeKorisnikUlogovan()"
      [disabled]="selektovanaJela.length === 0" (click)="naruci()">Naruci</button>
  </div>
  <table class="mat-table mt-xs" style="width: 100%;">
   <tr class="mat-header-row">
    <th class="mat-header-cell">Naziv</th>
    <th class="mat-header-cell">Sastojci</th>
    <th class="mat-header-cell">Porcija</th>
    <th class="mat-header-cell">Cena</th>
    <th class="mat-header-cell">Kategorija</th>
    <th class="mat-header-cell">Opis kategorije</th>
    <th class="mat-header-cell">Rok narucivanja</th>
    <th class="mat-header-cell center hide-for-print" *ngIf="daLiJeKorisnikAdmin()">Akcije</th>
    <th class="mat-header-cell center hide-for-print" *ngIf="daLiJeKorisnikUlogovan()">Izaberi</th>
   </tr>
   <tr class="mat-row" *ngFor="let jelo of filtriranaJela">
    <td class="mat-cell">{{ jelo.naziv }}</td>
    <td class="mat-cell">{{ jelo.sastojci }}</td>
    <td class="mat-cell">{{ jelo.porcija | formatirajString }}</td>
    <td class="mat-cell">{{ jelo.cena }}</td>
    <td class="mat-cell">{{ jelo.kategorija.naziv | formatirajString }}</td>
    <td class="mat-cell">{{ jelo.kategorija.opis | formatirajString }}</td>
    <td class="mat-cell">{{ jelo.kategorija.rok | formatirajString }}</td>
    <td class="mat-cell hide-for-print" *ngIf="daLiJeKorisnikAdmin()">
      <button mat-button color="primary" (click)="azuriraj(jelo.id)">Azuriraj</button>
      <button mat-button color="warn" (click)="izbrisi(jelo.id)">Izbrisi</button>
    </td>
    <td class="mat-cell center hide-for-print" *ngIf="daLiJeKorisnikUlogovan()">
      <mat-checkbox class="example-margin" [checked]="daLiJeJeloVecSelektovano(jelo.id)"
        (click)="selektujJelo($event, jelo)"></mat-checkbox>
    </td>
   </tr>
  </table>
</main>